<div class="package-card">
    <div class="package-header">
        <h3 class="package-name">
            <i class="fas fa-cube"></i>
            {{ .name }}
        </h3>
        <span class="package-version">{{ .version }}</span>
    </div>
    
    <div class="package-body">
        <p class="package-description">{{ .description }}</p>
        
        <div class="package-meta">
            <div class="meta-item">
                <i class="fas fa-user"></i>
                <span>{{ .maintainer.name }}</span>
            </div>
            <div class="meta-item">
                <i class="fas fa-envelope"></i>
                <span>{{ .maintainer.email }}</span>
            </div>
            <div class="meta-item">
                <i class="fas fa-code-branch"></i>
                <span>{{ .license }}</span>
            </div>
        </div>

         <div class="package-query">
            <pre>{{ .query }}</pre>
         </div>
        
        <div class="package-tags">
            {{ range $tag := .tags }}
            <button class="btn btn-secondary copy-query tag" data-query="oras pull {{ site.Params.ghcr_url }}{{ $.container }}:{{ $tag }}"><i class="fas fa-copy"></i> {{ $tag }}</button>
            {{ end }}
        </div>
    </div>
</div>