<div class="package-card">
    <div class="package-header">
        <h3 class="package-name">
            <i class="fas fa-cube"></i>
            {{ .name }}
        </h3>
        <span class="package-version">{{ .version }}</span>
    </div>
    
    <div class="package-body">
        <p class="package-description">{{ .description }}</p>
        
        <div class="package-meta">
            <div class="meta-item">
                <i class="fas fa-user"></i>
                <span>{{ .maintainer.name }}</span>
            </div>
            <div class="meta-item">
                <i class="fas fa-envelope"></i>
                <span>{{ .maintainer.email }}</span>
            </div>
            <div class="meta-item">
                <i class="fas fa-code-branch"></i>
                <span>{{ .license }}</span>
            </div>
        </div>

        <div class="package-query">
            <pre>{{ .query }}</pre>
        </div>

        <div class="package-sources">
            <h4 class="sources-title">Sources:</h4>
            {{ range $source := .sources }}
                <div class="source-item">
                    <div class="source-name">{{ $source.type }}/{{ $source.repo }}</div>
                    {{ if eq $source.type "oras" }}
                        {{ range $tag := $.tags }}
                        <button class="btn btn-secondary copy-oras" data-query="oras pull {{ index $source "oci-ref" }}:{{ $tag }}">
                            <i class="fas fa-copy"></i> {{ $tag }}
                        </button>
                        {{ end }}
                    {{ else if eq $source.type "http" }}
                        {{ range $tag, $url := $source.urls }}
                            <a href="{{ $url }}" class="btn btn-secondary http-link" target="_blank" rel="noopener">
                            <i class="fas fa-download"></i> {{ $tag }}
                            </a>
                        {{ end }}                        
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</div>